{% load staticfiles %}<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">

    <title>Jogging</title>

    <link rel="stylesheet" href="{% static 'css/libs.css' %}">
    <link rel="stylesheet" href="{% static 'css/app.css' %}">
</head>

<body>
    <div class="container">
        <section id="content">
            <div class="header">
                <h3 class="text-muted">Jogging</h3>
            </div>
        </section>
    </div>

    <script src="{% static 'libs.js' %}"></script>
    <script src="{% static 'app.js' %}"></script>
</body>
</html>