tr td {
    position : relative;
}

td input.inplace {
    position : absolute;
    width    : 90%;
}

tr button.delete {
    display  : none;
    position : absolute;
    right    : 8px;
    /*top: 0px;*/
}

tr:hover button.delete {
    display : inline;
}

tr.editing button {
    margin: 0 4px 4px 0;
}

tr.editing button.delete {
    display: inline;
    position: static;
    float: right;
    margin-right: 0;
}

@media screen and (max-width: 400px) {
    tr.editing button.delete {
        float: none;
    }
}

a.editable {
    color: #333;
    text-decoration: none;
}

tr:hover .editable {
    color         : #23527c;
    border-bottom : 1px dotted #999;
    cursor        : pointer;
}

tr.editing {
    background-color: #f9f9f9;
}

#customRangeForm {
    border-top: 0;
    border-radius: 0 0 4px 4px;
}

@media screen and (min-width: 768px) {
    #customRangeForm input.datepicker {
        margin: 0 10px;    
    }
}

#homeTabs {
    margin: 30px 0 10px;
}

#filterTab {
    float: right;
    padding-top: 3px;
}


@media screen and (max-width: 768px) {
    #filterTab {
        float: none;
        clear: both;
        padding-top: 15px;
    }
}

#content input.datepicker {
    background-color: #fff;
    cursor: text;
}

/* Space out content a bit */
body {
    padding-top    : 20px;
    padding-bottom : 20px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
    padding-right : 15px;
    padding-left  : 15px;
}

/* Custom page header */
.header {
    border-bottom : 1px solid #e5e5e5;
}

/* Make the masthead heading the same height as the navigation */
.header h3 {
    padding-bottom : 19px;
    margin-top     : 0;
    margin-bottom  : 0;
    line-height    : 40px;
}

/* Custom page footer */
.footer {
    padding-top : 19px;
    color       : #777;
    border-top  : 1px solid #e5e5e5;
}

/* Customize container */
@media (min-width : 768px) {
    .container {
        max-width : 730px;
    }
}

.container-narrow > hr {
    margin : 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
    text-align    : center;
    border-bottom : 1px solid #e5e5e5;
}

.jumbotron .btn {
    padding   : 14px 24px;
    font-size : 21px;
}

/* Supporting marketing content */
.marketing {
    margin : 40px 0;
}

.marketing p + h4 {
    margin-top : 28px;
}

/* Remove the padding we set earlier */
.header,
.marketing,
.footer {
    padding-right : 0;
    padding-left  : 0;
}

/* Space out the masthead */
.header {
    margin-bottom : 20px;
}

/* Remove the bottom border on the jumbotron for visual effect */
.jumbotron {
    border-bottom : 0;
}

.form-signin {
    max-width : 330px;
    padding   : 15px;
    margin    : 0 auto;
}

.form-signin .form-signin-heading,
.form-signin .checkbox {
    margin-bottom : 10px;
}

.form-signin .checkbox {
    font-weight : normal;
}

.form-signin .form-control {
    position           : relative;
    height             : auto;
    -webkit-box-sizing : border-box;
    -moz-box-sizing    : border-box;
    box-sizing         : border-box;
    padding            : 10px;
    font-size          : 16px;
}

.form-signin .form-control:focus {
    z-index : 2;
}

.form-signin input[type="text"] {
    margin-bottom              : -1px;
    border-bottom-right-radius : 0;
    border-bottom-left-radius  : 0;
}

.form-signin input[type="password"] {
    margin-bottom           : 10px;
    border-top-left-radius  : 0;
    border-top-right-radius : 0;
}

